/* --------------------------------

Modules - For Back Button ONLY

HTML:
<link rel="stylesheet" href="css/module_backbtn.css">

<header id="cd-header">
            <a id="cd-back"><img src="img/back1600.png" width="25px" height="27px" alt="Homepage"></a>
        </header>

-------------------------------- */

/*Back Button - Position Left*/

#cd-header #cd-back {
    float: left;
    display: inline-block;
    margin: 25px 19px 21px 19px;
  }

  @media (max-width: 768px) {
    #cd-back img {
      width: 20px;
      height: 22px;
    }
  }
