/* -------------------------------- 

Modules - For Side Navigation (MainBtn)

HTML:
<header id="cd-header">
            <a id="cd-menu-trigger" href="#0">
                <span class="cd-menu-text">Menu</span>
                <span class="cd-menu-icon"></span>
            </a>
        </header>

---Add after </Main>---

<nav id="cd-lateral-nav">
            <ul class="cd-navigation cd-single-item-wrapper" id="cd-navigation-home-icon">
                <li><a href="#0">Home</a></li>
            </ul>
            
            <hr>
            
            <ul class="cd-navigation">
                <li class="item-has-children">
                    <a href="#0">Services</a>
                    <ul class="sub-menu">
                        <li><a href="#0">My Download</a></li>
                        <li><a href="#0">My List</a></li>
                    </ul>
                </li> <!-- item-has-children -->

                <li class="item-has-children">
                    <a href="#0">Book Categories</a>
                    <ul class="sub-menu">
                        <li><a href="#0">Action</a></li>
                        <li><a href="#0">Animation</a></li>
                        <li><a href="#0">Comedy</a></li>
                        <li><a href="#0">Documentary</a></li>
                        <li><a href="#0">Family</a></li>
                        <li><a href="#0">Film-Noir</a></li>
                        <li><a href="#0">Horror</a></li>
                        <li><a href="#0">Musical</a></li>
                        <li><a href="#0">Romance</a></li>
                        <li><a href="#0">Sport</a></li>
                        <li><a href="#0">War</a></li>
                        <li><a href="#0">Western</a></li>
                    </ul>
                </li> <!-- item-has-children -->
            </ul> <!-- cd-navigation -->

            <hr>
            
            <ul class="cd-navigation cd-single-item-wrapper">
                <li><a href="#0">App Setting</a></li>
                <li><a href="#0">Account</a></li>            
                <!---<li><a class="current" href="#0">Journal</a></li>-->
                <li><a href="#0">FAQ</a></li>
                <li><a href="#0">Terms &amp; Conditions</a></li>
                <li><a href="#0">Privacy</a></li>
                <li><a href="#0">Help</a></li>
                <li><a href="#0">Log Out</a></li>
            </ul> <!-- cd-single-item-wrapper -->
        </nav>

-------------------------------- */

/*Menu Btn (Animation-MenuBtn)-Smooth-Transition-SideNavigtion*/

.landing-hr{
  margin: -12px 0;
  border-color: #005aa9;
}

.cd-main-content {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  &.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}

/*Menu Btn (Animation-MenuBtn)-Move-SideNavigation*/

/*Banner (Animation-MenuBtn)-Slide-to-Right*/

#cd-header {
  position: fixed; /*NEW FIX OF KELF FAULT*/
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  &.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}

/*Banner (Animation-MenuBtn)-Move-Banner*/

/*cd for menu btn*/

#cd-menu-trigger {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #005aa9;
  .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
  }
  .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
    &::before, &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0;
    }
    &::before {
      bottom: 5px;
    }
    &::after {
      top: 5px;
    }
  }
  &.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
    &::before, &::after {
      background-color: white;
    }
    &::before {
      bottom: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

/*menu btn text*/

/*.cd menu btn (icon)*/

@media only screen and (min-width: 768px) {
  #cd-menu-trigger {
    width: 110px;
    padding-left: 1.25em;
    .cd-menu-text {
      display: inline-block;
      line-height: 72px;
      padding-right: 40px;
      /*!!!*/
    }
    .cd-menu-icon {
      left: auto;
      right: 1.25em;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
}

/*Side navi content style*/

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 260px;
  background-color: #141414;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  transform: translateX(-80px);
  .cd-navigation {
    margin: 10px 0 16px;
  }
  .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
  }
  a {
    display: block;
    line-height: 3em;
    padding: 0 16px 0 32px;
    color: #fff;
    font-weight: 800;
    &.current {
      background-color: #005aa9;
      color: #ECEBF3;
      font-weight: 700;
    }
  }
}

.no-touch #cd-lateral-nav a:hover {
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
  }
}

#cd-lateral-nav {
  &.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;   
  }
  &.lateral-menu-is-open::after {
    z-index: 2;  
  }
  .item-has-children > a {
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    /* this is the right arrow to show that the item has a submenu  */
    &::after {
      content: '';
      display: block;
      height: 11px;
      width: 8px;
      position: absolute;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 1em;
      background: url("/images/cd-arrow.svg") no-repeat center center;
      background-size: 8px 11px;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
    &.submenu-open::after {
      -webkit-transform: translateY(-50%) rotate(90deg);
      -moz-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
      -o-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

/* style menu items which have a submenu The Arrow icon */