/* --------------------------------

Modules - For Serach Button ONLY

HTML:
<link rel="stylesheet" href="css/module_signinbtn.css">

<div class="search-wrapper">
                    <div class="input-text">
                        <input type="text" class="search-input" placeholder="Type to search" />
                        <button class="searchicon" onclick="searchevent(this, event);"><span id="search-span"></span></button>
                    </div>
                    <span class="minimize-search" onclick="searchevent(this, event);"></span>
                </div>




--add this before </body>--
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script  src="js/module_searchbtn.js"></script>

JS:
function searchevent(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}

-------------------------------- */


/*Position*/

.headersearch-btn {
    float: right;
    margin: 4px 2px;
    background-color: #C20114;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 70px;
    line-height: 70px;
    //text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        background-color: #9E0010;
        color: white;
    }
}

.search-wrap {
    float: right;
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.search-btn {
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search {
    position: absolute;
    left: 49px;
    /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: #262626;
    color: white;
    outline: none;
    border: none;
    padding: 0;
    margin-right: 20px;
    width: 0;
    height: 100%;
    z-index: 10;
    transition: all 1.5s cubic-bezier(0,0,0.25,1);
    &:focus {
        +.search-btn {
            transition-duration: 1.5s;
            -moz-transition-duration: 1.5s;
            -webkit-transition-duration: 1.5s;
            -o-transition-duration: 1.5s;
            background-color: #383838;
            color: white;
        }
        position:fixed;
        width: calc(100% - 179px);
        @media only screen and (max-width: 767px) {
            width: calc(100% - 99px);
        }
        +:hover {
            background-color: #484848;
        }
    }
}

.expandright {
    left: auto;
    right: 49px;
    &:focus {
        padding: 0 0 0 16px;
    }
}

@media only screen and (max-width: 767px) {
    .headersearch-btn {
        width: 50px;
    }
    .search-wrap {
        width: 50px
    }
    .search-wrap input {
        margin: 0;
    }
}


/* --------------------------------

Modules - For Serach Button ONLY

HTML:
<link rel="stylesheet" href="css/module_signinbtn.css">

<div class="search-wrapper">
                    <div class="input-text">
                        <input type="text" class="search-input" placeholder="Type to search" />
                        <button class="searchicon" onclick="searchevent(this, event);"><span id="search-span"></span></button>
                    </div>
                    <span class="minimize-search" onclick="searchevent(this, event);"></span>
                </div>




--add this before </body>--
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script  src="js/module_searchbtn.js"></script>

JS:
function searchevent(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}

-------------------------------- */


/*Position*/

.headersearch-btn {
    float: right;
    margin: 4px 2px;
    background-color: #005aa9;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 70px;
    line-height: 70px;
    //text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        background-color: #054986;
        color: white;
    }
}

.search-wrap {
    float: right;
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
}

.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.search-btn {
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search {
    position: absolute;
    left: 49px;
    /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: #262626;
    color: white;
    outline: none;
    border: none;
    padding: 0;
    margin-right: 20px;
    width: 0;
    height: 100%;
    z-index: 10;
    transition: all 1.5s cubic-bezier(0,0,0.25,1);
    &:focus {
        +.search-btn {
            transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
            background-color: #383838;
            color: white;
        }
        position:fixed;
        width: calc(100% - 179px);
        @media only screen and (max-width: 767px) {
            width: calc(100% - 99px);
        }
        +:hover {
            background-color: #484848;
        }
    }
}

.expandright {
    left: auto;
    right: 49px;
    &:focus {
        padding: 0 0 0 16px;
    }
}

@media only screen and (max-width: 767px) {
    .headersearch-btn {
        width: 50px;
    }
    .search-wrap {
        width: 50px
    }
    .search-wrap input {
        margin: 0;
    }
}
