/* -------------------------------- 

Modules - For Main Icon (Banner) Bar ONLY

HTML:
<link rel="stylesheet" href="css/module_banner.css"> 

<header id="cd-header">
            <!--Logo-->
            <a id="cd-logo" href="#0"><img src="img/cd-logo.png" width="118px" height="32px" alt="Homepage"></a>
        </header>

-------------------------------- */


/*Main Body*/

.cd-main-content {
    /*Main Content including bg -color chg-*/
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    z-index: 2;
    padding-top: 70px;
}


/*Main Body*/


/*give padding when switch to mobile*/


/*Banner*/

header {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background: #111;
    z-index: 3;
}


/*Banner - margin for LOGO*/


/*Center the whole banner*/

#cd-header {
    width: 100%;
    text-align: center;
    #cd-logo {
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
    }
}


/*CD offset position (return Logo back to center)*/

@media only screen and (min-width: 768px) {
    #cd-logo img {
        /*margin: 20px 50% 20px 45%;*/
        position: absolute;
        margin: 9px 0px;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
    }
}

@media (max-width: 768px) {
    #cd-back img {
        width: 20px;
        height: 22px;
    }
    #cd-logo img {
        width: 79px;
        height: 32px;
        margin: 20px 0px;
    }
    #cd-header {
        #cd-signin {
            margin: 0 auto;
            margin: 22px 5px 22px 5px;
            border-radius: 5px;
            padding: 3px 13px 3px 13px;
            cursor: pointer;
            color: white;
            background-color: #C20114;
        }
        min-width: 320px;
    }
    .cd-main-content {
        min-width: 320px;
    }
}