.container-fluid {
    margin: 0 auto;
    padding: 0;
    min-width:300px;
}

body {
    background: #f3f3f3;
    min-width: 320px;
}

.row {
    margin: 0 auto;
    padding: 0px;
}

.row .pr-content {
    text-align: center;
    margin: 6% 0;
}

.pr-content h1.pr-label {
    font-size: 55px;
    line-height: 1.7;
    margin: 1% 0 1% 0;
}

.pr-content p {
    line-height: 1.45;
    font-size: 22px;
}

.pr-user-input {
    margin: 2.3%  
}

hr{
    margin: 40px 0;
}

.pr-input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 25.5%;
    padding: 12px 2%;
    border: 2px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 17px/normal Arial, Helvetica, sans-serif;
    color: rgba(82, 83, 84, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    display: block;
    margin: 0% 35%;
}

.pr-user-input #pr-email-btn {
    background: #C20114;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    display: block;
    margin: 1% 35%;
}

.pr-user-input a#pr-email-btn:hover {
    background: #d9534f;
    background-image: -webkit-linear-gradient(top, #ff231f, #C20114);
    background-image: -moz-linear-gradient(top, #ff231f, #C20114);
    background-image: -ms-linear-gradient(top, #ff231f, #C20114);
    background-image: -o-linear-gradient(top, #ff231f, #C20114);
    background-image: linear-gradient(to bottom, #ff231f, #C20114);
    text-decoration: none;
}

@media (max-width:444px) {
    .pr-user-input #pr-email-btn {
        margin: 4% 0;
    }
    .pr-input {
        width: 95.5%;
        margin: 2% 0 0.5% 0;
    }
    .row .pr-content {
        text-align: center;
        margin: 20% 0;
    }
    .pr-content h1.pr-label {
        font-size: 40px;
        line-height: 1.7;
        margin: -4% 0 6% 0;
    }
    
    .pr-content p {
        line-height: 1.45;
        font-size: 17px;
    }

    .pr-user-input {
        margin: 8% 0%
    }
}

@media (min-width:445px) and (max-width:674px) {
    .pr-user-input #pr-email-btn {
        margin: 3% 18.5%;
        width: 65%;
    }
    .pr-input {
        width: 60%;
        margin: 2% 18.5% 0.5%;
    }
    .row .pr-content {
        text-align: center;
        margin: 20% 0;
    }
    .pr-content h1.pr-label {
        font-size: 40px;
        line-height: 1.7;
        margin: -4% 0 4% 0;
    }   
    .pr-content p {
        line-height: 1.5;
        font-size: 22px;
    }
    .pr-user-input {
        margin: 8% 0%
    }
}

@media (min-width:675px) and (max-width:1010px) {
    .pr-user-input #pr-email-btn {
        margin: 2% 20% 6%;
    }
    .pr-input {
        width: 55%;
        margin: 5% 20% 0.5%;
    }
    .row .pr-content {
        text-align: center;
        margin: 20% 0;
    }

    .pr-content h1.pr-label  {
        margin-bottom: 2%;
    }
}