/* -------------------------------- 

Modules - For Sign-in Button ONLY

HTML:
<link rel="stylesheet" href="css/module_signinbtn.css">

<header id="cd-header">
            <a id="cd-signin">Sign In</a>
        </header>

-------------------------------- */

/*Sign in Button - Position Right + Style*/

.cd-main-content {
    /*Main Content including bg -color chg-*/
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: #ECEBF3;
    z-index: 2;
}




#cd-header #cd-skip{
    float: right;
    display: inline-block;
    margin: 0 auto;
    margin: 20px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    color: white;
    background-color: #C20114;

}

@media (max-width:768px){
    #cd-header #cd-skip{
        margin: 0 auto;
        margin: 22px 5px 22px 5px;
        border-radius: 5px;
        padding: 3px 13px 3px 13px;
        cursor: pointer;
        color: white;
        background-color: #C20114;
    }
}