/* -------------------------------- 

Modules - For Serach Button ONLY

HTML:
<link rel="stylesheet" href="css/module_signinbtn.css">

<div class="search-wrapper">
                    <div class="input-text">
                        <input type="text" class="search-input" placeholder="Type to search" />
                        <button class="searchicon" onclick="searchevent(this, event);"><span></span></button>
                    </div>
                    <span class="minimize-search" onclick="searchevent(this, event);"></span>
                </div>

--add this before </body>--
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script  src="js/module_searchbtn.js"></script>

JS:
function searchevent(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}

-------------------------------- */

/*Position*/
.search-wrapper {
    position: absolute;
    right: 0%;
}

/*Open Search Style*/
.search-wrapper .input-text {    
    height: 70px;
    width: 70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/*Open Search Box*/
.search-wrapper.active .input-text {
    width: 100vw;
   
    border-radius: 50px;
    background: rgba(40, 40, 40, 1);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    background: ;
}

/*Open Search Text*/
.search-wrapper .input-text .search-input {
    width:94%;
    height: 50px;
    padding:0px 70px 0 30px;
    opacity: 0;
    position: absolute;
    top:0px;
    left: 30px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

/*Search textbox*/
.search-wrapper.active .input-text .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}

/*Search button -Before*/
.search-wrapper .input-text .searchicon {
    margin: 15px 10px;
    width:40px;
    height:40px;
    border:none;
    border-radius:13px;
    background: #ECEBF3;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/*Search button -After*/
.search-wrapper.active .input-text .searchicon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}

/*Search Icon -Before*/
.search-wrapper .input-text .searchicon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

/*Search Icon -After*/
.search-wrapper.active .input-text .searchicon span {
    transform: rotate(-45deg);
}

/*Search Icon*/
.search-wrapper .input-text .searchicon span::before, .search-wrapper .input-text .searchicon span::after {
    position: absolute; 
    content:'';
}

/*Search Icon Leg*/
.search-wrapper .input-text .searchicon span::before {
    width: 4px;
    height: 12px;
    left: 10px;
    top: 15px;
    border-radius: 2px;
    background: #C20114;
}

/*Search Icon Head*/
.search-wrapper .input-text .searchicon span::after {
    width: 20px;
    height: 20px;
    left: 2px;
    top: -3px;
    border-radius: 50px;
    border: 4px solid #C20114;
}

/*Cross Button Postion*/
.search-wrapper .minimize-search {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}

/*Cross Button*/
.search-wrapper.active .minimize-search {
    left:20px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}

.search-wrapper .minimize-search::before, .search-wrapper .minimize-search::after {
    position:absolute;
    content:'';
    background: #C20114;
    border-radius: 2px;
}

.search-wrapper .minimize-search::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}

.search-wrapper .minimize-search::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
/*Cross Button*/


@media (max-width:768px){
    /*Search Icon Leg*/
.search-wrapper .input-text .searchicon span::before {
    width: 4px;
    height: 12px;
    left: 10px;
    top: 14px;
    border-radius: 5px;
    background: #C20114;
}

/*Search Icon Head*/
.search-wrapper .input-text .searchicon span::after {
    width: 16px;
    height: 16px;
    left: 3.5px;
    top: 0px;
    border-radius: 40px;
    border: 4px solid #C20114;
}
    
/*Search button -Before*/
.search-wrapper .input-text .searchicon {
    margin: 18px 12px;
    width:33px;
    height:33px;
    border-radius:11px;
}

/*Search button -After*/
.search-wrapper.active .input-text .searchicon {
    width: 40px;
    height:40px;
    margin: 15px;
    border-radius: 30px;
}
    }