/* -------------------------------- 

Modules - For Skip Button ONLY

HTML:
<link rel="stylesheet" href="css/module_signinbtn.css">

<header id="cd-header">
            <a id="cd-skip">Skip</a>
        </header>

-------------------------------- */

/*Sign in Button - Position Right + Style*/
#cd-header #cd-skip{
    float: right;
    display: inline-block;
    margin: 0 auto;
    margin: 20px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    color: white;
    background-color: #C20114;

}

@media (max-width:768px){
    #cd-header #cd-skip{
        margin: 0 auto;
        margin: 22px 5px 22px 5px;
        border-radius: 5px;
        padding: 3px 13px 3px 13px;
        cursor: pointer;
        color: white;
        background-color: #C20114;
    }
}

#cd-skip:hover
{
    background: #d9534f;
    background-image: -webkit-linear-gradient(top, #ff231f, #C20114);
    background-image: -moz-linear-gradient(top, #ff231f, #C20114);
    background-image: -ms-linear-gradient(top, #ff231f, #C20114);
    background-image: -o-linear-gradient(top, #ff231f, #C20114);
    background-image: linear-gradient(to bottom, #ff231f, #C20114);
    color: #ffffff;
    text-decoration: none ; 
    color: #ffffff;
    text-decoration: none ; 
}

#cd-skip:active {
    background: #9b000c;
}