/* -------------------------------- 

Primary style (Banner)

-------------------------------- */

/*need to set this to assign to the main element a min height of 100%*/
html, body {
    height: 100%;
    
}

/* -------------------------------- 

End of Primary style (Banner)

-------------------------------- */

#u-pref-grid-6 > .col-xs-6
{
    padding-right: 0; 
    padding-left: 0;
}


html body
{
    background: black ;
    margin: 0;
}

.container .row{

    padding: 0;
    margin: 0 auto;
}


.u-pref-header h2, p  
{
    text-align: center;
    color: black;
}

.u-pref-header h2 
{
    font-size: 35px;
}
.u-pref-header p  
{
    font-size: 18px;
}

.u-pref-categories
{
    margin: 5px;
}



.u-pref-categories label {
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    font-weight: normal;
    font-size: 1vw;
}

.u-pref-categories input[type="checkbox"]:empty {
    display: none;
}



/*Unselect-text*/
.u-pref-categories input[type="checkbox"]:empty ~ label {
    color: #777;
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Unselect-box*/
.u-pref-categories input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}



/*Unselect-hover-box*/
.u-pref-categories input[type="checkbox"]:hover:not(:checked) ~ label {
    color: dimgray;
    background-color: #f7f7f7;
}

/*Unselect-hover-tick*/
.u-pref-categories input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: whitesmoke;
}
/*Selected-text*/
.u-pref-categories input[type="checkbox"]:checked ~ label {
    color: black;
}

/*Selected box*/
.u-pref-categories_checkbox input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #C20114;
}

/*Selected-tick*/
.u-pref-categories_checkbox input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: whitesmoke;
}

.btn {
    margin-top: 15px;
    width: 100%;
    background: #C20114;
    background-image: -webkit-linear-gradient(top, #d9534f, #ff231f);
    background-image: -moz-linear-gradient(top, #d9534f, #ff231f);
    background-image: -ms-linear-gradient(top, #d9534f, #ff231f);
    background-image: -o-linear-gradient(top, #d9534f, #ff231f);
    background-image: linear-gradient(to bottom, #d9534f, #ff231f);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-decoration: none;
}

#u-pref-buildbtn .btn
{
    color: #fff;
     padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.btn:hover {
    background: #d9534f;
    background-image: -webkit-linear-gradient(top, #ff231f, #C20114);
    background-image: -moz-linear-gradient(top, #ff231f, #C20114);
    background-image: -ms-linear-gradient(top, #ff231f, #C20114);
    background-image: -o-linear-gradient(top, #ff231f, #C20114);
    background-image: linear-gradient(to bottom, #ff231f, #C20114);
    color: #ffffff;
    text-decoration: none ;
    
}
/*xs*/
@media (max-width: 768px) {
    .u-pref-header
    {
        font-size: 3vmin;
    }
    .container {
        box-sizing: border-box;
        min-width: 200px;
        width: 100%;
    }

    .u-pref-categories label {
        font-size: 3vmin;
    }

    .btn
    {
        position: fixed;
        width: 100%;
        bottom: 0;
        left:0;
    }
    
    #u-pref-buildbtn .btn
{
     padding: 7px 15px 7x 15;
    font-size: 15px;
}
}

/*sm*/
@media (min-width: 768px) and (max-width: 992px)  {
    .u-pref-header
    {
        font-size: 2.5vmin;
    }

    .u-pref-categories label {
        font-size: 2.5vmin;
    }
}

/*md*/
@media (min-width: 993px) {
    .u-pref-header
    {
        font-size: 1.8vmin;
    }
    .u-pref-categories label {
        font-size: 1.8vmin;
    }

}

.input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px 10px 35px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal 16px/normal "Courier New", Courier, monospace;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(40,40,40,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.input:hover {
  padding: 10px 22px 10px 45px;
}

.input:focus {
  padding: 10px 20px;
  font: normal 19px/normal "Courier New", Courier, monospace;
}








