// colors

$main-text: #4e6361; // main text
$link: #6cac70; // anchor tags
$background: #f5f4e9; // body background color

$color-1: #4e6361; // green dark
$color-2: #242e30; // green darker
$color-3: #aab5b7; // green light

// fonts 

$primary-font: 'Roboto', sans-serif;

// z-index 

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height 

$header-S: 50px;
$header-M: 70px;