.bg {
    /* The image used */
    background-image: url("4kimage.jpg");
    /* Full height */
    height: 100%;
    /*was 100vh*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.black_wrapper {
    /* background-color: #000000; */
}

.black_wrapper img {
    width: 15%;
    min-width: 150px;
}

.form_wrapper {
    margin: 0 25%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.form_wrapper h1 {
    margin: 0 7%;
    padding-top: 5vmin;
    /*was 50px*/
    font-size: 6vmin;
    /*was 48px*/
}

.input_containers {
    margin: 5vmin 7% 0;
}

.input_containers label {
    font-size: 2vmin;
}

.input_containers input {
    height: 6vmin;
}

#fgtPassLink {
    margin: 7vmin 7% 0;
    display: block;
    text-decoration: none;
    font-size: 2vmin;
}

#registerBtn {
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 3vmin 7% 0;
    padding: 2%;
    font-weight: 400;
    border-radius: 3px;
    font-size: 2.5vmin;
    /*was 1.5em*/
    text-decoration: none;
    display: block;
    text-align: center;
}

#signUpLink {
    padding-bottom: 4vh;
}

#signUpLink h3 {
    margin: 4vmin 7% 0;
    font-size: 3vmin;
    /*was 16px*/
}

#signUpLink a {
    text-decoration: none;
}

@media (max-width: 768px) and (orientation:portrait) {
    .form_wrapper {
        margin: 10vh 2%;
    }
    .form_wrapper h1 {
        font-size: 40px;
        /*was 48px*/
    }
    .input_containers label {
        font-size: 12px;
    }
    #fgtPassLink {
        font-size: 12px;
    }
    #registerBtn {
        font-size: 15px;
        /*was 1.5em*/
    }
    #signUpLink h3 {
        font-size: 18px;
        /*was 16px*/
    }
}

@media (max-width: 768px) and (orientation:portrait) {
    .form_wrapper {
        margin: 10vh 2%;
    }
}

@media (min-width: 769px) and (max-width: 992px) and (orientation:portrait) {
    .form_wrapper {
        margin: 10vh 10%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) and (orientation:portrait) {
    .form_wrapper {
        margin: 10vh 20%;
    }
}

@media (min-height: 1201px) and (orientation:portrait) {
    .form_wrapper {
        margin: 25% 2%;
    }
}


/*
@media (max-width: 768px) and (orientation: landscape){
    .bg{
        background-image: none;
        background-color: #000;
        height: auto;
    }

    .form_wrapper{
        background-color: rgba(111, 111, 111, 0.2);
        margin-bottom: 10px;
    }
}
*/