.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.fs-26 {
    font-size: 26px;
}

.fs-27 {
    font-size: 27px;
}

.fs-28 {
    font-size: 28px;
}

.fs-29 {
    font-size: 29px;
}

.fs-30 {
    font-size: 30px;
}

.fs-31 {
    font-size: 31px;
}

.fs-32 {
    font-size: 32px;
}

.fs-33 {
    font-size: 33px;
}

.fs-34 {
    font-size: 34px;
}

.fs-35 {
    font-size: 35px;
}

.fs-36 {
    font-size: 36px;
}

.fs-37 {
    font-size: 37px;
}

.fs-38 {
    font-size: 38px;
}

.fs-39 {
    font-size: 39px;
}

.fs-40 {
    font-size: 40px!important;
}

.fs-41 {
    font-size: 41px;
}

.fs-42 {
    font-size: 42px;
}

.fs-43 {
    font-size: 43px;
}

.fs-44 {
    font-size: 44px;
}

.fs-45 {
    font-size: 45px;
}

.fs-46 {
    font-size: 46px;
}

.fs-47 {
    font-size: 47px;
}

.fs-48 {
    font-size: 48px;
}

.fs-49 {
    font-size: 49px;
}

.fs-50 {
    font-size: 50px;
}

.fs-51 {
    font-size: 51px;
}

.fs-52 {
    font-size: 52px;
}

.fs-53 {
    font-size: 53px!important;
}

.fs-54 {
    font-size: 54px;
}

.fs-55 {
    font-size: 55px;
}

.fs-56 {
    font-size: 56px;
}

.fs-57 {
    font-size: 57px;
}

.fs-58 {
    font-size: 58px;
}

.fs-59 {
    font-size: 59px;
}

.fs-60 {
    font-size: 60px;
}

.fs-61 {
    font-size: 61px;
}

.fs-62 {
    font-size: 62px;
}

.fs-63 {
    font-size: 63px;
}

.fs-100 {
    font-size: 100px;
}

.fs-175 {
    font-size: 175px;
}

@include phablet-down {
    .xs-fs-12 {
        font-size: 12px;
    }
    .xs-fs-13 {
        font-size: 13px;
    }
    .xs-fs-14 {
        font-size: 14px;
    }
    .xs-fs-15 {
        font-size: 15px;
    }
    .xs-fs-16 {
        font-size: 16px;
    }
    .xs-fs-17 {
        font-size: 17px;
    }
    .xs-fs-18 {
        font-size: 18px;
    }
    .xs-fs-19 {
        font-size: 19px;
    }
    .xs-fs-20 {
        font-size: 20px;
    }
    .xs-fs-21 {
        font-size: 21px;
    }
    .xs-fs-22 {
        font-size: 22px;
    }
    .xs-fs-23 {
        font-size: 23px;
    }
    .xs-fs-24 {
        font-size: 24px;
    }
    .xs-fs-25 {
        font-size: 25px;
    }
    .xs-fs-26 {
        font-size: 26px;
    }
    .xs-fs-27 {
        font-size: 27px;
    }
    .xs-fs-28 {
        font-size: 28px;
    }
    .xs-fs-29 {
        font-size: 29px;
    }
    .xs-fs-30 {
        font-size: 30px;
    }
    .xs-fs-31 {
        font-size: 31px;
    }
    .xs-fs-32 {
        font-size: 32px;
    }
    .xs-fs-33 {
        font-size: 33px;
    }
    .xs-fs-34 {
        font-size: 34px;
    }
    .xs-fs-35 {
        font-size: 35px;
    }
}

.lh-20 {
    line-height: 20px
}

.lh-21 {
    line-height: 210px
}

.lh-22 {
    line-height: 22px
}

.lh-23 {
    line-height: 23px
}

.lh-24 {
    line-height: 24px
}

.lh-25 {
    line-height: 25px
}

.lh-26 {
    line-height: 26px
}

.lh-27 {
    line-height: 27px
}

.lh-28 {
    line-height: 28px
}

.lh-29 {
    line-height: 29px
}

.lh-30 {
    line-height: 30px
}

.lh-31 {
    line-height: 31px
}

.lh-32 {
    line-height: 32px
}

.lh-33 {
    line-height: 33px
}

.lh-34 {
    line-height: 34px
}

.lh-35 {
    line-height: 35px
}

.lh-36 {
    line-height: 36px
}

.lh-37 {
    line-height: 37px
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.margin-top-none,
.margin-vertical-none,
.margin-none {
    margin-top: 0;
}

.margin-bottom-none,
.margin-vertical-none,
.margin-none {
    margin-bottom: 0;
}

.margin-left-none,
.margin-horizontal-none,
.margin-none {
    margin-left: 0;
}

.margin-right-none,
.margin-horizontal-none,
.margin-none {
    margin-right: 0;
}

.margin-top,
.margin-vertical,
.margin {
    margin-top: 15px;
}

.margin-bottom,
.marginBottom,
.margin-vertical,
.margin {
    margin-bottom: 15px;
}

.margin-left,
.margin-horizontal,
.margin {
    margin-left: 15px;
}

.margin-right,
.margin-horizontal,
.margin {
    margin-right: 15px;
}

.margin-top-sm,
.margin-vertical-sm,
.margin-sm {
    margin-top: 5px;
}

.margin-bottom-sm,
.margin-vertical-sm,
.margin-sm {
    margin-bottom: 5px;
}

.margin-left-sm,
.margin-horizontal-sm,
.margin-sm {
    margin-left: 5px;
}

.margin-right-sm,
.margin-horizontal-sm,
.margin-sm {
    margin-right: 5px;
}

.xmargin-top,
.xmargin-vertical,
.xmargin {
    margin-top: 50px;
}

.xmargin-bottom,
.xmargin-vertical,
.xmargin {
    margin-bottom: 50px;
}

.xmargin-left,
.xmargin-horizontal,
.xmargin {
    margin-left: 50px;
}

.xmargin-right,
fa fa-home .xmargin-horizontal,
.xmargin {
    margin-right: 50px;
}

.padding-top-sm,
.padding-vertical-sm,
.padding-sm {
    padding-top: 5px;
}

.padding-bottom-sm,
.padding-vertical-sm,
.padding-sm {
    padding-bottom: 5px;
}

.padding-left-sm,
.padding-horizontal-sm,
.padding-sm {
    padding-left: 5px;
}

.padding-right-sm,
.padding-horizontal-sm,
.padding-sm {
    padding-right: 5px;
}

.padding-top,
.padding-vertical,
.padding {
    padding-top: 15px;
}

.padding-bottom,
.padding-vertical,
.padding {
    padding-bottom: 15px;
}

.padding-left,
.padding-horizontal,
.padding {
    padding-left: 15px;
}

.padding-right,
.padding-horizontal,
.padding {
    padding-right: 15px;
}

.xpadding-top,
.xpadding-vertical,
.xpadding {
    padding-top: 50px;
}

.xpadding-bottom,
.xpadding-vertical,
.xpadding {
    padding-bottom: 50px;
}

.xpadding-left,
.xpadding-horizontal,
.xpadding {
    padding-left: 50px;
}

.xpadding-right,
.xpadding-horizontal,
.xpadding {
    padding-right: 50px;
}

.xxpadding-top,
.xxpadding-vertical,
.xxpadding {
    padding-top: 100px;
}

.xxpadding-bottom,
.xxpadding-vertical,
.xxpadding {
    padding-bottom: 100px;
}

.xxpadding-left,
.xxpadding-horizontal,
.xxpadding {
    padding-left: 100px;
}

.xxpadding-right,
.xxpadding-horizontal,
.xxpadding {
    padding-right: 100px;
}

.margin-top-0,
.margin-vertical-0,
.margin-0 {
    margin-top: 0;
}

.margin-top-05,
.margin-vertical-05,
.margin-05 {
    margin-top: 5px;
}

.margin-top-10,
.margin-vertical-10,
.margin-10 {
    margin-top: 10px;
}

.margin-top-15,
.margin-vertical-15,
.margin-15 {
    margin-top: 15px;
}

.margin-top-20,
.margin-vertical-20,
.margin-20 {
    margin-top: 20px;
}

.margin-top-25,
.margin-vertical-25,
.margin-25 {
    margin-top: 25px;
}

.margin-top-30,
.margin-vertical-30,
.margin-30 {
    margin-top: 30px;
}

.margin-top-40,
.margin-vertical-40,
.margin-40 {
    margin-top: 40px;
}

.margin-top-50,
.margin-vertical-50,
.margin-50 {
    margin-top: 50px;
}

.margin-top-75,
.margin-vertical-75,
.margin-75 {
    margin-top: 75px;
}

.margin-top-100,
.margin-vertical-100,
.margin-100 {
    margin-top: 100px;
}

.margin-bottom-0,
.margin-vertical-0,
.margin-0 {
    margin-bottom: 0;
}

.margin-bottom-05,
.margin-vertical-05,
.margin-0 {
    margin-bottom: 5px;
}

.margin-bottom-10,
.margin-vertical-10,
.margin-10 {
    margin-bottom: 10px;
}

.margin-bottom-15,
.margin-vertical-15,
.margin-15 {
    margin-bottom: 15px;
}

.margin-bottom-20,
.margin-vertical-20,
.margin-20 {
    margin-bottom: 20px;
}

.margin-bottom-25,
.margin-vertical-25,
.margin-25 {
    margin-bottom: 25px;
}

.margin-bottom-30,
.margin-vertical-30,
.margin-30 {
    margin-bottom: 30px;
}

.margin-bottom-40,
.margin-vertical-40,
.margin-40 {
    margin-bottom: 40px;
}

.margin-bottom-50,
.margin-vertical-50,
.margin-50 {
    margin-bottom: 50px;
}

.margin-bottom-75,
.margin-vertical-75,
.margin-75 {
    margin-bottom: 75px;
}

.margin-bottom-100,
.margin-vertical-100,
.margin-100 {
    margin-bottom: 100px;
}

.margin-left-0,
.margin-horizontal-0,
.margin-0 {
    margin-left: 0;
}

.margin-left-05,
.margin-horizontal-05,
.margin-05 {
    margin-left: 5px;
}

.margin-left-10,
.margin-horizontal-10,
.margin-10 {
    margin-left: 10px;
}

.margin-left-15,
.margin-horizontal-15,
.margin-15 {
    margin-left: 15px;
}

.margin-left-20,
.margin-horizontal-20,
.margin-20 {
    margin-left: 20px;
}

.margin-left-25,
.margin-horizontal-25,
.margin-25 {
    margin-left: 25px;
}

.margin-left-30,
.margin-horizontal-30,
.margin-30 {
    margin-left: 30px;
}

.margin-left-35,
.margin-horizontal-35,
.margin-35 {
    margin-left: 35px;
}

.margin-right-35,
.margin-horizontal-35,
.margin-35 {
    margin-left: 35px;
}

.margin-left-50,
.margin-horizontal-50,
.margin-50 {
    margin-left: 50px;
}

.margin-left-75,
.margin-horizontal-75,
.margin-75 {
    margin-left: 75px;
}

.margin-left-100,
.margin-horizontal-100,
.margin-100 {
    margin-left: 100px;
}

.margin-right-0,
.margin-horizontal-0,
.margin-0 {
    margin-right: 0;
}

.margin-right-05,
.margin-horizontal-05,
.margin-05 {
    margin-right: 5px;
}

.margin-right-10,
.margin-horizontal-10,
.margin-10 {
    margin-right: 10px;
}

.margin-right-15,
.margin-horizontal-15,
.margin-15 {
    margin-right: 15px;
}

.margin-right-20,
.margin-horizontal-20,
.margin-20 {
    margin-right: 20px;
}

.margin-right-25,
.margin-horizontal-25,
.margin-25 {
    margin-right: 25px;
}

.margin-right-30,
.margin-horizontal-30,
.margin-30 {
    margin-right: 30px;
}

.margin-right-50,
.margin-horizontal-50,
.margin-50 {
    margin-right: 50px;
}

.margin-right-75,
.margin-horizontal-75,
.margin-75 {
    margin-right: 75px;
}

.margin-right-100,
.margin-horizontal-100,
.margin-100 {
    margin-right: 100px;
}

.padding-05,
.padding-top-05,
.padding-vertical-05 fa fa-home {
    padding-top: 5px;
}

.padding-10,
.padding-top-10,
.padding-vertical-10 {
    padding-top: 10px;
}

.padding-15,
.padding-top-15,
.padding-vertical-15 {
    padding-top: 15px;
}

.padding-20,
.padding-top-20,
.padding-vertical-20 {
    padding-top: 20px;
}

.padding-25,
.padding-top-25,
.padding-vertical-25 {
    padding-top: 25px;
}

.padding-30,
.padding-top-30,
.padding-vertical-30 {
    padding-top: 30px;
}

.padding-40,
.padding-top-40,
.padding-vertical-40 {
    padding-top: 40px;
}

.padding-50,
.padding-top-50,
.padding-vertical-50 {
    padding-top: 50px;
}

.padding-75,
.padding-top-75,
.padding-vertical-75 {
    padding-top: 75px;
}

.padding-100,
.padding-top-100,
.padding-vertical-100 {
    padding-top: 100px;
}

.padding-05,
.padding-bottom-05,
.padding-vertical-05 {
    padding-bottom: 5px;
}

.padding-10,
.padding-bottom-10,
.padding-vertical-10 {
    padding-bottom: 10px;
}

.padding-15,
.padding-bottom-15,
.padding-vertical-15 {
    padding-bottom: 15px;
}

.padding-20,
.padding-bottom-20,
.padding-vertical-20 {
    padding-bottom: 20px;
}

.padding-25,
.padding-bottom-25,
.padding-vertical-25 {
    padding-bottom: 25px;
}

.padding-30,
.padding-bottom-30,
.padding-vertical-30 {
    padding-bottom: 30px;
}

.padding-40,
.padding-bottom-40,
.padding-vertical-40 {
    padding-bottom: 40px;
}

.padding-35,
.padding-left-35,
.padding-horizontal-35 {
    padding-left: 35px;
}

.padding-35,
.padding-right-35,
.padding-horizontal-35 {
    padding-right: 30px;
}

.padding-50,
.padding-bottom-50,
.padding-vertical-50 {
    padding-bottom: 50px;
}

.padding-75,
.padding-bottom-75,
.padding-vertical-75 {
    padding-bottom: 75px;
}

.padding-100,
.padding-bottom-100,
.padding-vertical-100 {
    padding-bottom: 100px;
}

.padding-05,
.padding-left-05,
.padding-horizontal-05 {
    padding-left: 5px;
}

.padding-10,
.padding-left-10,
.padding-horizontal-10 {
    padding-left: 10px;
}

.padding-15,
.padding-left-15,
.padding-horizontal-10 {
    padding-left: 15px;
}

.padding-20,
.padding-left-20,
.padding-horizontal-20 {
    padding-left: 20px;
}

.padding-25,
.padding-left-25,
.padding-horizontal-25 {
    padding-left: 25px;
}

.padding-30,
.padding-left-30,
.padding-horizontal-30 {
    padding-left: 30px;
}

.padding-40,
.padding-left-40,
.padding-horizontal-40 {
    padding-left: 40px;
}

.padding-40,
.padding-left-40,
.padding-horizontal-40 {
    padding-left: 40px;
}

.padding-50,
.padding-left-50,
.padding-horizontal-50 {
    padding-left: 50px;
}

.padding-75,
.padding-left-75,
.padding-horizontal-75 {
    padding-left: 75px;
}

.padding-100,
.padding-left-100,
.padding-horizontal-100 {
    padding-left: 100px;
}

.padding-05,
.padding-right-05,
.padding-horizontal-05 {
    padding-right: 5px;
}

.padding-10,
.padding-right-10,
.padding-horizontal-10 {
    padding-right: 10px;
}

.padding-15,
.padding-right-15,
.padding-horizontal-15 {
    padding-right: 15px;
}

.padding-20,
.padding-right-20,
.padding-horizontal-20 {
    padding-right: 20px;
}

.padding-25,
.padding-right-25,
.padding-horizontal-25 {
    padding-right: 25px;
}

.padding-30,
.padding-right-30,
.padding-horizontal-30 {
    padding-right: 30px;
}

.padding-40,
.padding-right-40,
.padding-horizontal-40 {
    padding-right: 40px;
}

.padding-50,
.padding-right-50,
.padding-horizontal-50 {
    padding-right: 50px;
}

.padding-75,
.padding-right-75,
.padding-horizontal-75 {
    padding-right: 75px;
}

.padding-100,
.padding-right-100,
.padding-horizontal-100 {
    padding-right: 100px;
}

.padding-0,
.padding-right-0,
.padding-horizontal-0 {
    padding-right: 0px;
}

.hidden-phablet-up {
    @include phablet-up {
        display: none!important;
    }
}

.hidden-wide,
.hidden-wide-down {
    @include wide {
        display: none!important;
    }
}

.hidden-desktop,
.hidden-wide-down,
.hidden-desktop-down {
    @include desktop {
        display: none!important;
    }
}

.hidden-tablet,
.hidden-wide-down,
.hidden-desktop-down,
.hidden-tablet-down {
    @include tablet {
        display: none!important;
    }
}

.hidden-phablet,
.hidden-wide-down,
.hidden-desktop-down,
.hidden-tablet-down,
.hidden-phablet-down,
.hiddenPhabletDown {
    @include phablet {
        display: none!important;
    }
}

.hidden-mobile,
.hidden-wide-down,
.hidden-desktop-down,
.hidden-tablet-down,
.hidden-phablet-down,
.hiddenPhabletDown,
.hidden-mobile-down,
.hiddenMobileDown {
    @include mobile {
        display: none!important;
    }
}

.show-wide,
.show-wide-down {
    @include wide {
        display: block;
    }
}

.show-desktop,
.show-wide-down,
.show-desktop-down {
    @include desktop {
        display: block;
    }
}

.show-tablet,
.show-wide-down,
.show-desktop-down,
.show-tablet-down {
    @include tablet {
        display: block;
    }
}

.show-phablet,
.show-wide-down,
.show-desktop-down,
.show-tablet-down,
.show-phablet-down {
    @include phablet {
        display: block;
    }
}

.show-mobile,
.show-wide-down,
.show-desktop-down,
.show-tablet-down,
.show-phablet-down,
.show-mobile-down {
    @include mobile {
        display: block;
    }
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.phablet-text-center {
    @include phablet-down {
        text-align: center;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-none {
    float: none;
}

.block {
    display: block;
}

.absolute {
    position: absolute;
    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.middle {
    vertical-align: middle;
}

.hide {
    display: none;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-4 {
    border-radius: 4px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-6 {
    border-radius: 6px;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-bottom,
.border {
    border-bottom: 1px solid #c6c5c5;
}

.border-top,
.border {
    border-top: 1px solid #c6c5c5;
}

.border-left,
.border {
    border-left: 1px solid #c6c5c5;
}

.border-left-right {
    border-right: 1px solid #c6c5c5;
    border-left: 1px solid #c6c5c5;
}

.border-right,
.border {
    border-right: 1px solid #c6c5c5;
}

.border-right-dotted {
    border-right: 2px dotted #c6c5c5;
}

.border-bottom-dotted {
    border-bottom: 2px dotted #c6c5c5;
}

.border-light {
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.border-radius-05,
.border-radius-5 {
    border-radius: 5px;
}

.border-none {
    border: none;
}

.pointer {
    cursor: pointer;
}

.splitter-right,
.splitter-left {
    line-height: 22px;
    list-style-type: none;
    margin-top: 7px;
}

.splitter-right {
    border-right: 1px solid #9e9899;
}

.splitter-left {
    border-left: 1px solid #9e9899;
}

@include phablet-down {
    .phablet-down-white {
        color: white!important;
    }
}

.bg-blue-light {
    background-color: $color-blue-light;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.bg-primary,
.bgPrimary {
    background-color: $primary;
}

.bg-secondary,
.bgSecondary {
    background-color: $secondary;
}

.bg-blue-dark {
    background-color: $color-blue-dark;
}

.bg-gray {
    background-color: $color-gray;
}

.bg-gray-light {
    background-color: $color-gray-light;
}

.bg-gray-lighter {
    background-color: $color-gray-lighter;
}

.bg-gray-dark {
    background-color: $color-gray-dark;
}

.bg-black {
    background-color: $black;
}

.bg-green {
    background-color: $color-green;
}

.green {
    color: $color-green;
}

.bg-none {
    background: none!important;
}

.bg-transparent {
    background-color: transparent!important;
}

.red-danger {
    color: $color-red-danger;
}

.red {
    color: $color-red;
}

.black {
    color: $black;
    &.energized {
        &.activate {
            color: $color-orange;
        }
    }
}

.black,
.white,
.gray {
    &.energized {
        &:hover,
        &.active {
            color: $color-orange!important;
        }
    }
}

.primary {
    color: $primary;
}

.blue {
    color: $color-blue!important;
}

.blue-dark {
    color: $color-blue-dark!important;
}

.blue-light {
    color: $color-blue-light;
}

.orange {
    color: $color-orange!important;
}

.gray {
    color: $color-gray;
}

.gray-light {
    color: $color-gray-light;
    &.energized:hover {
        color: $color-orange;
    }
}

.gray-dark {
    color: $color-gray-dark!important;
}

.gray-darker {
    color: $color-gray-darker!important;
}

.gray-darkest {
    color: $color-gray-darkest!important;
}

.bg-white {
    background-color: $color-white;
}

.white {
    color: $color-white;
}

.hover-white,
.white-hover {
    &:hover {
        color: $color-white;
    }
}

.bg-gray-darker,
.bg-graydarker {
    background-color: $color-gray-darker;
}

.bg-gray-darkest,
.bg-graydarkest {
    background-color: $color-gray-darkest;
}

.bg-red {
    background-color: $color-red;
}

.bg-red-danger {
    background-color: $color-red-danger;
}

.bg-inherit,
.bgInherit {
    background-color: inherit;
}

@include phablet-down {
     ::-webkit-scrollbar {
        display: none;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &.home {
        background-image: url('/images/ic_home_black_24px.svg');
        &.active {
            background-image: url('/images/ic_home_green_24px.svg');
        }
    }
    &.setting {
        background-image: url('/images/ic_settings_black_24px.svg');
        &.active {
            background-image: url('/images/ic_settings_green_24px.svg');
        }
    }
    &.search {
        background-image: url('/images/ic_search_black_24px.svg');
        &.active {
            background-image: url('/images/ic_search_green_24px.svg');
        }
    }
    &.inbox {
        background-image: url('/images/ic_inbox_black_24px.svg');
        &.active {
            background-image: url('/images/ic_inbox_green_24px.svg');
        }
    }
    &.person {
        background-image: url('/images/ic_person_black_24px.svg');
        &.active {
            background-image: url('/images/ic_person_green_24px.svg');
        }
    }
    &.chat {
        background-image: url('/images/ic_chat_black_24px.svg');
        &.active {
            background-image: url('/images/ic_chat_green_24px.svg');
        }
    }
}