$color-status: #127D8A;
$color-primary: #068797;
$color-solid: #DDF8F8;
$color-secondary: #FF1EAE;
$color-red: #CC0000;
////////////////////////////
$color-yellow: #eee53d;
$color-yellowlight: #fefdeb;
$color-orange: #F68B1F;
$color-orange-light: #F8A34E;
$color-orange-dark: #D67A1D;
$color-orange-darker: #954d22;
$color-red-danger: #CE0000;
$color-red-light: #E53232;
$color-red-dark: #AA0101;
$color-green: #3eb54a;
$color-blue: hsl(205, 100%, 35%);
$color-blue-dark: #0993a3;
$color-blue-light: #09cbe4;
$color-blue-lighter: #d1ecff;
$color-white: #FFFFFF;
$color-gray: #c7d1d8;
$color-gray-light: #F5F5F5;
$color-gray-lighter: #F7F8F8;
$color-gray-x-light: #ecebeb;
$color-gray-2x-light: #f3f3f3;
$color-gray-dark: #717171;
$color-gray-darker: #494949;
$color-gray-darkest: #333;
$black: rgba(0, 0, 0, .85) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: #494949 !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;
$orange: #F68B1F !default;
$orange-light: #fdf6eb !default;
$yellow: #eee53d !default;
$green: #3eb54a !default;
$turquoise: hsl(171, 100%, 41%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(230, 35%, 45%) !default;
$purple-dark: hsl(207, 33%, 27%) !default;
$purple-light: hsl(229, 35%, 49%) !default;
$red: hsl(3, 83%, 53%) !default;
$red-danger: #CE0000!default;
$red-light: #E53232!default;
$red-dark: #AA0101!default;
$family-museo: 'Museo Sans',
serif;
$family-roboto: 'Roboto',
sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $color-primary;
$primary-invert: $color-solid;
// Use the existing orange as the danger color
$danger: $color-red;
$secondary: $color-secondary;
$dark: $grey-dark !default;
$family-primary: $family-roboto;
