/* -------------------------------- 

Primary style (Banner)

-------------------------------- */

/*need to set this to assign to the main element a min height of 100%*/
html, body {
    height: 100%;
}


/*Cant work without important*/
body {
    font-size: 100%;
    font-family: "Roboto";
    color: #0C120C;
    background-color: #f5f4e9;
}

a {
    color: #6cac70 ;
    text-decoration: none;
}

/* -------------------------------- 

End of Primary style (Banner)

-------------------------------- */

.cd-main-content {
    padding-top: 45px;
}

/*Change background color*/


#r-well-container .well 
{
    background-color: #f9f9f9;
}

/* Space out content a bit */
body {
    padding-top: 20px;

}

div .well
{
    padding-top: 10px;
    padding-bottom: 5px;
}

.container .well
{
    margin-bottom: 10px;
}

.r-submit-btn-responsive
{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#r-submit-btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid rgba(255,255,255,0);
    -webkit-border-radius: 3px / 5px;
    border-radius: 3px / 5px;
    font: normal 17px/normal Roboto;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #C20114;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.24) ;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.24) ;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

#r-submit-btn:hover {
    
        background: #d9534f;
    background-image: -webkit-linear-gradient(top, #ff231f, #C20114);
    background-image: -moz-linear-gradient(top, #ff231f, #C20114);
    background-image: -ms-linear-gradient(top, #ff231f, #C20114);
    background-image: -o-linear-gradient(top, #ff231f, #C20114);
    background-image: linear-gradient(to bottom, #ff231f, #C20114);
    color: #ffffff;
    text-decoration: none ; 
}

#r-submit-btn:active {
    background: #9b000c;
}

#r_checkbox label
{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#r_checkbox input {
    width: 20px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden;
}


/*xs*/
@media (max-width: 768px) {

    .container {
        box-sizing: border-box;
        min-width: 320px;
        width: 100%;
    }

    .container .well h1
    {

        font-size: 255%;
    }

    #r-submit-btn{
        padding:5px 45px;
        font-size: 100%;
        line-height: 2;
        border-radius:3px;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 992px)  {

    #r-submit-btn{
        padding:6px 48px;
        font-size: 125%;
        line-height: 2;
        border-radius:4px;
    }
}

/*md*/
/* Customize container */
@media (min-width: 993px) {


    #r_form
    {
        font-size: 16px;
    }

    #r-submit-btn{
        padding:6px 50px;
        font-size: 130%;
        line-height: 2;
        border-radius: 4px;
    }

    .container {
        max-width: 1200px;
    }
}






