/* -------------------------------- 

Primary style

-------------------------------- */
/*Make it scrolless and clean*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*need to set this to assign to the main element a min height of 100%*/
html, body {
    height: 100%;
}


/*Cant work without important*/
body {
    overflow-x: hidden;
    font-size: 100%;
    font-family: "Roboto";
    color: #0C120C;
    background-color: #f5f4e9;
}

a {
    color: #6cac70;
    text-decoration: none;
}
/*Cant work without important*/

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */



/*Main components */
.cd-main-content {
    /*Main Content including bg -color chg-*/
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: #ECEBF3;
    z-index: 2;
    padding: 50px 10px 10px 10px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
/*.cd for side navi*/
.cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}
/*give padding when switch to mobile*/
@media only screen and (min-width: 768px) {
    .cd-main-content {
        padding-top: 70px;
    }
}

.cd-main-content{
    display: block;
}

.cd-main-content h3{
    font-weight: 600;
    font-size: 20px; /*was 20px*/
}


/*Navi bar*/
header {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background: #0C120C;
    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
    /*.cd for moving navi bar*/
}
header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}
header.is-fixed {
    position: fixed;
}

@media only screen and (max-width: 768px) {
    header {
        height: 50px;
    }
}

/*margin for LOGO*/
#cd-logo {
    display: inline-block;
    width: 100%;
    margin: 15px 40vmin 10px 45vmin;
}
#cd-logo img {
    width: 88px;
    height: 22px;
}

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 15px 50vmin;
    }
    
    #cd-logo img{
        width: 118px;
        height: 32px;
    }
}

#cd-search-button {
    position: absolute;
    top: 0;
    display: inline-block;
    margin: 20px 0 0 88%;
    padding-top: 5px; /*was 5*/
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 16px;
}

#cd-search-button img{
    margin: 0 10px 0 0;
    padding-bottom: 2px;
    width: 15px;
}

@media only screen and (max-width: 767px) {
    #cd-search-button {
        font-size: 0px;
        margin: 5px 0 0 82vmin;
        /*
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        */
    }
    
    #cd-search-button img{
        width: 25px;
        margin: 0 0 0 5vmin;
    }
}

/*Text style*/
#cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}
#cd-top-nav a.current {
    background-color: #242e30;
}
.no-touch #cd-top-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 768px) {
    #cd-top-nav {
        display: block;
    }
}

/*cd for menu btn*/
#cd-menu-trigger {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #C20114;
}
/*menu btn text*/
#cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
}

/*.cd menu btn (icon)*/
#cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
}
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
}
#cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {
    #cd-menu-trigger {
        width: 110px;
        padding-left: 1.25em;
    }
    #cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 70px;
    }
    #cd-menu-trigger .cd-menu-icon {
        left: auto;
        right: 1.25em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/*Side navi content style*/
#cd-navigation-home-icon{
    font-weight: 800;
}

#cd-lateral-nav {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    background-color: #0C120C;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    -o-transform: translateX(-80px);
    transform: translateX(-80px);
}
#cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
}
#cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
}
#cd-lateral-nav a {
    display: block;
    line-height: 3em;
    padding: 0 16px 0 32px;
    color: #C7D6D5;
}
#cd-lateral-nav a.current {
    background-color: #C20114;
    color: #ECEBF3;
    font-weight: 700;
    
}
.no-touch #cd-lateral-nav a:hover {
    color: #FFF;
}
@media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
        margin: 20px 0;
    }
}
#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu The Arrow icon */
#cd-lateral-nav .item-has-children > a {
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
    color: #ECEBF3;
    /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    background: url("../img/cd-arrow.svg") no-repeat center center;
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.owl-carousel owl-theme .item img{
    width: 100%;
    height: 100%;
}

.owl-carousel img{
    height: 100%;
}

.main-content-header{
    margin: 0 auto 10px auto;
}

.main-content-header h3{
    display: inline-block;
}

.main-content-header a{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    float: right;
    margin: 10px 0 0 0;
}
/*
.item #more-nav{
    margin: 0 50% 0 0;
    padding: 0 0 300px 0;
    background-color: black;
}
*/