<template>
   <div class="book-bg">
            <div class="book-content"> 
                <div class="book-bg-gradient">
                    <div class="book-pic-bg">
                        <div class="book-pic-wrapper">
                             <img src="http://is1.mzstatic.com/image/thumb/Music3/v4/8e/e8/03/8ee803d3-22f0-9bf1-5a4e-5188d48b77d9/source/1200x630bb.jpg" class="pic-element"/>
                        </div>
                    </div>
                    <div class="pic-nav">
                        <ul class="pic-nav-info">
                            <li class="pic-nav-item pic-rating">83%</li>
                            <li class="pic-nav-item">November 2016</li>
                            <li class="pic-nav-item">13+</li>
                            <li class="pic-nav-item">1 Installment</li>
                        </ul>
                    </div>
                    <div class="btn-desc">
                        <div class="button-nav">
                            <button id="btn-preview">PREVIEW</button>
                            <button id="btn-pay">BUY FOR RM 9.99</button>
                            <button id="btn-subscribe">SUBSCRIBE NOW FOR RM 29.99</button>
                            <button id="btn-all-content">ACCESS ALL CONTENT FOR RM 49.99</button>
                        </div>
                    </div>
                    <div id="book-text-wrapper">
                        <div class="pic-text-detail">
                          <div v-readMore:250="msg"></div>
                        </div>
                    </div>
                    <div class="book-pic-desc">
                        <div class="book-pic-details">
                            <h5>Author: Kappa Dude</h5>
                            <h5>Publisher: Twitch Incorporate</h5>
                        </div>
                    </div>
                    <div class="nav-pic-features">
                        <nav class="navBar">
                          <ul class="navMenu">
                            <li class="menuItem">
                              <a class="itemLink first" href="#">
                                <span class="glyphicon glyphicon-plus itemIcon"></span>
                                 My List
                              </a>
                            </li>
                            <li class="menuItem">
                              <a class="itemLink" href="#">
                                <span class="glyphicon glyphicon-plus itemIcon"></span>
                                Rate    
                              </a>
                            </li>
                            <li class="menuItem">
                              <a class="itemLink" href="#">
                                <span class="glyphicon glyphicon-envelope itemIcon"></span>
                                Share
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                    
        <div class="btm-bg">
            
            <div class="bottom-nav">
                <hr id="page-divider">
                <div class="nav-tab">
                    <div class="tab">
                      <button class="tablinks" onclick="openCity(event, 'issues-tab')" id="defaultOpen">ISSUES</button>
                      <button class="tablinks" onclick="openCity(event, 'more-like-this-tab')">MORE LIKE THIS</button>
                    </div>

                    <div id="issues-tab" class="tabcontent">
                        <div class="issue-wrapper">
                            <img class="issue-items" src="https://gamingbolt.com/wp-content/uploads/2011/04/gB_Ps3-cover.jpg"/>
                            <div class="post-content">
                                <h3 class="post-title">October 2017</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum eget enim ultrices mattis. Duis fermentum, arcu ut blandit venenatis, felis lacus placerat ante, vel sagittis libero nulla at nunc. Nam elit magna, ultrices laoreet porttitor a, efficitur sed lectus. Nam tristique quis massa quis tincidunt. Nam eros nulla, scelerisque ut lorem condimentum, ultricies euismod lectus. Phasellus laoreet nunc nec urna iaculis, vel accumsan ligula eleifend. Duis id tellus ornare, euismod felis sit amet, vestibulum ipsum.</p>
                                <button>PREVIEW</button>
                                <button>RM 9.99</button>
                            </div>
                        </div>

                        </div>
                        <div class="issue-wrapper">Magazine 1</div>
                        <div class="issue-wrapper">Magazine 1</div>
                        <div class="issue-wrapper">Magazine 1</div>
                        <div class="issue-wrapper">Magazine 1</div>
                        <div class="issue-wrapper">Magazine 1</div>
                    </div>

                    <div id="more-like-this-tab" class="tabcontent">
                      
                    </div>
                </div>
            </div>
        </div>

                </div>
            </div>
    
     
</template>

<script>
export default {
  data () {
    return {
      msg: "Limitless is a show based on a movie of the same name. They both live in the same universe in which a pill called NZT-48 unlocks the full potential of a subjects mind. This show manages to make interesting characters and plots, without losing the main idea of the show. The best part about this show, has to be the protagonist, Bryan Finch, played by Jake McDorman. The protagonist has a way of looking at things and portraying them to the audience that gives us some comedy relief that the movie didn't really have. That's also one of the strongest parts of the series, the comedy. I didn't really think this series was going to make me laugh or smile at how the character looks at things. And to make the series even better, they made an episode that was a total homage to Ferris Bueller's Day Off"
    }
  }
}
</script>

<style lang="scss" scoped>

.book-bg {
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
}

.book-content {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('http://is1.mzstatic.com/image/thumb/Music3/v4/8e/e8/03/8ee803d3-22f0-9bf1-5a4e-5188d48b77d9/source/1200x630bb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  margin: 0 auto;
}

.book-bg-gradient {
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

/* PICCCTURE */

.book-pic-wrapper {
  /*margin-bottom: 50px;*/
}

.pic-element {
  width: 30vmin;
  min-height: 160px;
  min-width: 160px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

/* BOTTTTOM OF ZE PICCTURE */

.pic-nav-info {
  text-align: center;
  .pic-nav-item {
    padding: 10px;
    display: inline-block;
  }
}

.pic-nav-item {
  color: #fff;
}

.pic-rating {
  color: #6c3;
  font-weight: 600;
}

@media (max-width: 992px) {
  .pic-nav-info li {
    font-size: 12px;
  }
}

/* BUTTTTTONS WOOOHOOOOO */

.btn-desc {
  margin: 0px 30%;
}

@media (max-width: 992px) {
  .btn-desc {
    margin: 20px 2%;
  }
}

.button-nav button {
  color: #fff;
  border: none;
  margin: 0.5% auto;
  padding: 10px 1%;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .button-nav button {
    padding: 5px 1%;
  }
}

#btn-preview, #btn-pay {
  display: inline-block;
  width: 49%;
}

#btn-preview {
  background-color: #222;
  float: left;
}

#btn-pay {
  background-color: #C20114;
  float: right;
}

#btn-subscribe, #btn-all-content {
  width: 100%;
}

#btn-subscribe {
  background-color: #C20114;
}

#btn-all-content {
  font-weight: bolder;
  color: #C20114;
  background-color: #fff;
}

/* LOOOOOOOOOONG TEXT */

.book-pic-desc {
  color: white;
  display: block;
  margin: 20px 30%;
}

@media (max-width: 992px) {
  .book-pic-desc {
    margin: 20px 2%;
  }
}

#book-text-wrapper {
  margin: 20px 30%;
}

@media (max-width: 992px) {
  #book-text-wrapper {
    margin: 20px 2%;
  }
}


.pic-text-detail {
  color: white;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  &.open {
    max-height: 100% !important;
    overflow: initial !important;
    -webkit-line-clamp: initial !important;
  }
}


/* miiiddle NAVigationn! */

.nav-pic-features {
  display: block;
  margin: 0 30%;
  background-color: transparent;
  /*box-shadow: 0px 8px 30px -4px hsla(0, 0%, 0%, 0.6);*/
  border-radius: 3px;
}

@media (max-width: 992px) {
  .nav-pic-features {
    margin: 0 2%;
  }
}

.navBar {
  text-align: center;
  display: inline-block;
  background-color: transparent;
  margin: 0 auto;
  border-radius: 3px;
  .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .menuItem {
      display: inline-block;
      margin: 0;
      .itemLink {
        display: block;
        color: #fff;
        text-decoration: none;
        height: 60px;
        width: 100px;
      }
      .first {
        border-radius: 3px 0 0 3px;
      }
      .last {
        border-radius: 0 3px 3px 0;
      }
      .itemLink .itemIcon {
        display: block;
        padding: 4px 0 0 0;
        line-height: 20px;
      }
    }
  }
}

/*.navBar .navMenu .menuItem .itemLink:hover {
  background-color: #999;
  color: #444;
  transition: all .4s;
}*/

/*TABBBBBSSSS BABEH*/

.bottom-nav {
  background-color: #000;
}

#page-divider {
  background-color: white;
  border: solid 1px white;
}

.bottom-nav {
  display: block;
}

.nav-tab {
  /*position: absolute;*/
  margin: 0 30%;
}

@media (max-width: 992px) {
  .nav-tab {
    margin: 0 2%;
  }
}

/* Style the tab */

div.tab {
  overflow: hidden;
  background-color: transparent;
  button {
    color: white;
    opacity: 0.8;
    font-size: 1.5em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    &:hover {}
    &.active {
      font-weight: 800;
    }
  }
}

/* Style the buttons inside the tab */

/* Change background color of buttons on hover */

/* Create an active/current tablink class */

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
  margin: 20px 0 0 0;
  overflow: auto;
}

/*fading animation*/

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.issue-wrapper {
  display: inline-block;
  background: white;
  width: 100%;
  height: 100%;
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

.issue-items {
  float: left;
  margin: 5px;
  width: 25%;
}

.post-title {
  font-weight: bold;
  font-size: 200%;
}
</style>
