<template>
  <div id="bk-body">
    
    <header id="cd-header">
      <!--Logo-->
      <a id="cd-logo" href="#0">
        <img src="/images/logo.png" width="118px" height="32px" alt="Homepage">
      </a>

      <!--Burger menu-->
      <a id="cd-menu-trigger">
        <span class="cd-menu-text">Menu</span>
        <span class="cd-menu-icon"></span>
      </a>

      <div class="search-wrap">
      <form action="/search" method="get">
        <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
        <label class="headersearch-btn search-btn" for="searchright"><span class="mglass">&#9906;</span></label>
      </form>
    </div>
    </header>

    <main class="cd-main-content">
   <vue-particles
        color="#dedede"
        :particleOpacity="0.7"
        :particlesNumber="25"
        shapeType="circle"
        :particleSize="4"
        linesColor="#dedede"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="3"
        :hoverEffect="true"
        :clickEffect="false"
      >
   </vue-particles>
      <!--The blurry background code-->

      <div class="bk-content">
        <div class="book-pic-bg">
          <div v-if="videoContent" @click="handleClose()">X</div>
          <div v-if="bodyContent" id="book-pic-wrapper">
            <img @click="handlePic()" src="/images/SUS-Brochure.png" class="pic-element pointer"
            />
            <div class="read-button"><a href="#"> PLAY </a></div>
          </div>
          <div v-if="videoContent" id="video-wrapper">
            <div class="item">
              <div class="player">
                <video-player class="vjs-custom-skin" ref="videoPlayer" :options="playerOptions" :playsinline="true">
                </video-player>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="book-pic-desc">
        <div class="book-pic-details">
          <h5 id="book-title-font"><strong>Managing Performance for Result (MPFR)</strong></h5>
        </div>
      </div>

      <div class="bk-pic-nav">
        <ul class="bk-pic-nav-info">
          <li class="bk-pic-nav-item bk-pic-rating">93%</li>
          <li class="bk-pic-nav-item">November 2016</li>
          <li class="bk-pic-nav-item">13 Chapters</li>
          <li class="bk-pic-nav-item">24 Reviews</li>
        </ul>
      </div>

      <div class="bk-btn-desc">
        <div class="bk-button-nav">
          <button id="bk-btn-preview">PREVIEW</button>
          <button id="bk-btn-pay">BUY FOR RM 9.99</button>
          <button id="bk-btn-subscribe">SUBSCRIBE NOW FOR RM 29.99</button>
          <button id="bk-btn-all-content">ACCESS ALL CONTENT FOR RM 49.99</button>
        </div>
      </div>

      <div id="bk-book-text-wrapper">
        <div class="bk-pic-text-detail">
          <div v-readMore:250="msg"></div>
        </div>
      </div>

    </main>
    <!-- landing-main-content -->

    <nav id="cd-lateral-nav">
      <ul class="cd-navigation landing-single-item-wrapper" id="cd-navigation-home-icon">
        <li>
          <a href="#0">Home</a>
        </li>
      </ul>

      <hr class="landing-hr">

      <ul class="cd-navigation">
        <li class="item-has-children">
          <a href="#0">Services</a>
          <ul class="sub-menu">
            <li>
              <a href="#0">My Download</a>
            </li>
            <li>
              <a href="#0">My List</a>
            </li>
          </ul>
        </li>
        <!-- item-has-children -->

        <li class="item-has-children">
          <a href="#0">Book Categories</a>
          <ul class="sub-menu">
            <li>
              <a href="#0">Action</a>
            </li>
            <li>
              <a href="#0">Animation</a>
            </li>
            <li>
              <a href="#0">Comedy</a>
            </li>
            <li>
              <a href="#0">Documentary</a>
            </li>
            <li>
              <a href="#0">Family</a>
            </li>
            <li>
              <a href="#0">Film-Noir</a>
            </li>
            <li>
              <a href="#0">Horror</a>
            </li>
            <li>
              <a href="#0">Musical</a>
            </li>
            <li>
              <a href="#0">Romance</a>
            </li>
            <li>
              <a href="#0">Sport</a>
            </li>
            <li>
              <a href="#0">War</a>
            </li>
            <li>
              <a href="#0">Western</a>
            </li>
          </ul>
        </li>
        <!-- item-has-children -->
      </ul>
      <!-- landing-navigation -->

      <hr class="landing-hr">

      <ul class="cd-navigation landing-single-item-wrapper">
        <li>
          <a href="#0">App Setting</a>
        </li>
        <li>
          <a href="#0">Account</a>
        </li>
        <!---<li><a class="current" href="#0">Journal</a></li>-->
        <li>
          <a href="#0">FAQ</a>
        </li>
        <li>
          <a href="#0">Terms &amp; Conditions</a>
        </li>
        <li>
          <a href="#0">Privacy</a>
        </li>
        <li>
          <a href="#0">Help</a>
        </li>
        <li>
          <a @click="handleLogin()" class="pointer">Log Out</a>
        </li>
      </ul>
      <!-- landing-single-item-wrapper -->

      <div class="cd-navigation socials">

      </div>
      <!-- socials -->
    </nav>

  </div>
</template>

<script>

import Vue from 'vue'
import VueVideoPlayer from 'vue-video-player'
Vue.use(VueVideoPlayer)

require('video.js/dist/video-js.css')
require('vue-video-player/src/custom-theme.css')

export default {
    data() {
    return {
      bodyContent: true,
      videoContent: false,
      
      msg:
        "A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then",

      playerOptions: {
          muted: true,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: "video/mp4",
            src: "../videos/kcs-video.mp4"
          }],
          // poster: "../images/Banner 01.jpg",
           autoplay: true,
        }
    };
  },
  methods: {
    changePage(idx) {
      console.log(idx);
    },
    handleLogin() {
      this.$router.push({
        name: "login"
      });
    },
    handlePic(){
      this.bodyContent = false;
      this.videoContent = true;
    },
    handleClose(){
      this.bodyContent = true;
      this.videoContent = false;
    },
    // listen event
      onPlayerPlay(player) {
        // console.log('player play!', player)
      },
      onPlayerPause(player) {
        // console.log('player pause!', player)
      },
      onPlayerEnded(player) {
        // console.log('player ended!', player)
      },
      onPlayerLoadeddata(player) {
        // console.log('player Loadeddata!', player)
      },
      onPlayerWaiting(player) {
        // console.log('player Waiting!', player)
      },
      onPlayerPlaying(player) {
        // console.log('player Playing!', player)
      },
      onPlayerTimeupdate(player) {
        // console.log('player Timeupdate!', player.currentTime())
      },
      onPlayerCanplay(player) {
        // console.log('player Canplay!', player)
      },
      onPlayerCanplaythrough(player) {
        // console.log('player Canplaythrough!', player)
      },
      // or listen state event
      playerStateChanged(playerCurrentState) {
        // console.log('player current update state', playerCurrentState)
      },
      // player is ready
      playerReadied(player) {
        // seek to 10s
        player.currentTime(10)
        // console.log('example 01: the player is readied', player)
      }
  },
  mounted() {
      // console.log('this is current player instance object', this.player)
      setTimeout(() => {
        // console.log('dynamic change options', this.player)
        this.player.muted(false)
      }, 2000)
    },
    computed: {
      player() {
        return this.$refs.videoPlayer.player
      }
    },
  mounted: function() {
    jQuery(document).ready(function($) {
      var $lateral_menu_trigger = $("#cd-menu-trigger"),
        $content_wrapper = $(".cd-main-content"),
        $navigation = $("#cd-header");

      //open-close lateral menu clicking on the menu icon
      $lateral_menu_trigger.on("click", function(event) {
        event.preventDefault();

        $lateral_menu_trigger.toggleClass("is-clicked");
        $navigation.toggleClass("lateral-menu-is-open");
        $content_wrapper
          .toggleClass("lateral-menu-is-open")
          .one(
            "webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend",
            function() {
              // firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
              $("#landing-body").toggleClass("overflow-hidden");
            }
          );
        $("#cd-lateral-nav").toggleClass("lateral-menu-is-open");

        //check if transitions are not supported - i.e. in IE9
        if ($("html").hasClass("no-csstransitions")) {
          $("#landing-body").toggleClass("overflow-hidden");
        }
      });

      //close lateral menu clicking outside the menu itself
      $content_wrapper.on("click", function(event) {
        if (!$(event.target).is("#cd-menu-trigger, #cd-menu-trigger span")) {
          $lateral_menu_trigger.removeClass("is-clicked");
          $navigation.removeClass("lateral-menu-is-open");
          $content_wrapper
            .removeClass("lateral-menu-is-open")
            .one(
              "webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend",
              function() {
                $("#landing-body").removeClass("overflow-hidden");
              }
            );
          $("#cd-lateral-nav").removeClass("lateral-menu-is-open");
          //check if transitions are not supported
          if ($("html").hasClass("no-csstransitions")) {
            $("#landing-body").removeClass("overflow-hidden");
          }
        }
      });

      //open (or close) submenu items in the lateral menu. Close all the other open submenu items.
      $(".item-has-children")
        .children("a")
        .on("click", function(event) {
          event.preventDefault();
          $(this)
            .toggleClass("submenu-open")
            .next(".sub-menu")
            .slideToggle(200)
            .end()
            .parent(".item-has-children")
            .siblings(".item-has-children")
            .children("a")
            .removeClass("submenu-open")
            .next(".sub-menu")
            .slideUp(200);
        });
    });
  }
};
</script>

<style lang="scss" scoped>

.read-button {
  position: absolute;
  width: 500px;
  left: 38%;
  top: 180px;
  text-align: center;
  opacity: 1;
  transition: opacity .35s ease;
}

.read-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  background-color: grey;
  z-index: 1;
}

.book-pic-wrapper:hover .read-button {
  opacity: 1;
}

.video-js{
  background-color: transparent !important;
}
.vjs_video_3-dimensions{
  height: 320px !important;
}

@media (max-width: 768px){
  .vjs_video_3-dimensions{
  height: 150px !important;
}
}

// .video-js .vjs-control-bar{
//   width: 570px !important;
//   margin: 0 auto;
// }

#book-title-font {
  font-size: 18px;
}

#bk-tabs {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bk-wrapper {
  position: relative;
}


.bk-issues {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  //margin: 0.75rem;
}

@media (min-width: 768px) {
  #bk-tabs,
  .bk-issues {
    max-width: 1200px;
  }
}

/*
@media (min-width: 768px){
  .bk-issues{
    margin-right: 0 !important;
  }
}
*/

.bk-issue-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  white-space: normal;
  list-style-type: none;
  width: 14.666666%;
  padding: 0.4% 0.2%;

  img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    min-height: 180px;
  }
}

@media (max-width: 768px) {
  .bk-issue-item {
    width: 23%;
  }
}

#bk-body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bk-bg-image {
  background-image: url("http://www.qscasia.com/wp-content/uploads/2015/02/roi.png");

  background-position-y: 50%;
  background-size: cover;
  display: block;
  filter: blur(50px);
  -webkit-filter: blur(100px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  /*margin: 0 6vmin;*/
  transform: scale(1);
}

.bk-content {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 2vh;
  z-index: 2;
}

@media (max-width: 768px) and (orientation: landscape) {
  .bk-content {
    margin-top: 10vw;
  }
}

#book-pic-wrapper img:hover{
  opacity: 0.5;
}

// TOP PICTURE
.pic-element {
  width: 30vmin;
  min-height: 160px;
  min-width: 160px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

// BOOK DESCRIPTION
.book-pic-desc {
  position: relative;
  z-index: 2;
  color: white;
  display: block;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .book-pic-desc {
    margin: 20px 5%;
  }
}

/* BOTTTTOM OF ZE PICCTURE */
.bk-pic-nav-info {
  position: relative;
  /*
  background: rgba(111, 111, 111, 0.4);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  */
  text-align: center;
  z-index: 2;
  margin: 10px 30vw 0;

  .bk-pic-nav-item {
    padding: 15px;
    display: inline-block;
  }
}

.bk-pic-nav-item {
  color: #fff;
  font-weight: 500;
}

.bk-pic-rating {
  color: #6c3;
  font-weight: 600;
}

@media (max-width: 990px) {
  .bk-pic-nav-info {
    margin: 10px 10vmin 0;

    .bk-pic-nav-item {
      padding: 5px;
    }
  }

  .bk-pic-nav-info li {
    font-size: 12px;
  }
}

// BUTTONSSSS
.bk-btn-desc {
  position: relative;
  margin: 10px 30% 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .bk-btn-desc {
    margin: 20px 5%;
  }
}

.bk-button-nav button {
  color: #fff;
  border: none;
  margin: 0.5% auto;
  padding: 10px 1%;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .bk-button-nav button {
    padding: 6px 1%;
  }
}

#bk-btn-preview,
#bk-btn-pay {
  display: inline-block;
  width: 49%;
}

#bk-btn-preview {
  background-color: #222;
  float: left;
}

#bk-btn-pay {
  background-color: #005aa9;
  float: right;
}

#bk-btn-subscribe,
#bk-btn-all-content {
  width: 100%;
}

#bk-btn-subscribe {
  background-color: #005aa9;
}

#bk-btn-all-content {
  font-weight: bolder;
  color: #005aa9;
  background-color: #fff;
}

/* LOOOOOOOOOONG TEXT */
#bk-book-text-wrapper {
  position: relative;
  z-index: 2;
  margin: 20px 30%;
}

@media (max-width: 992px) {
  #bk-book-text-wrapper {
    margin: 20px 5%;
  }
}

.bk-pic-text-detail {
  color: white;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  &.open {
    max-height: 100% !important;
    overflow: initial !important;
    -webkit-line-clamp: initial !important;
  }

  /* MIiiiddle NAVigationn! */
  .nav-pic-features {
    display: block;
    margin: 0 30%;
    background-color: transparent;
    /*box-shadow: 0px 8px 30px -4px hsla(0, 0%, 0%, 0.6);*/
    border-radius: 3px;
  }

  @media (max-width: 990px) {
    .nav-pic-features {
      margin: 0 2%;
    }
  }

  .navBar {
    text-align: center;
    display: inline-block;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 3px;
    .navMenu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .menuItem {
        display: inline-block;
        margin: 0;
        .itemLink {
          display: block;
          color: #fff;
          text-decoration: none;
          height: 60px;
          width: 100px;
        }
        .first {
          border-radius: 3px 0 0 3px;
        }
        .last {
          border-radius: 0 3px 3px 0;
        }
        .itemLink .itemIcon {
          display: block;
          padding: 4px 0 0 0;
          line-height: 20px;
        }
      }
    }
  }
}

//TABBS
#bk-tabs {
  z-index: 2;
  position: relative;
  //margin: 0 10%;
  font-weight: 800;
  background: rgba(111, 111, 111, 0.4);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

  #empty-tab {
    color: #fff;
  }

  #bk-issue {
    color: blueviolet;
  }
}
</style>
