.container-fluid {
    margin: 0 auto !important;
    padding: 0 !important;
}

.row {
    margin: 0 auto !important;
    padding: 0px !important;
}

body {
    font-family: 'Roboto';
    margin: 0;
    background: #131313;
}

#ac-wrap {
    margin: 0;
    background: #131313;
}

#top-nav {
    background: #191919;
    padding: 1px;
}

#top-nav ul {
    text-align: center;
    list-style-type: none;
    margin-right: 10px;
    padding: 0px;
}

#top-nav li {
    display: inline-block;
    margin-left: 0%;
}

#top-nav li.left {
    float: left;
    margin-left: 2%;
}

#top-nav li.right {
    float: right;
    margin-left: 2%;
}

#top-nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#top-nav a#img-header img.resize-img {
    margin-left: 18%;
}

#top-nav a#back-icon {
    background: #191919;
    border: 1px solid #191919;
    float: left;
    font-size: 18px;
    padding: 3px 5px 3px 5px;
}

#ac-wrap a#sign {
    background: #191919;
    border: 1px solid #191919;
    float: right;
    padding: 6px;
    margin-right: 5px;
}

#ac-nav {
    padding: 0px;
}

.row .ac-content {
    color: white;
    margin: 5% 25% 2.2% 25%;
    text-align: center;
}

.row .ac-content .ac-email-label {
    font-size: 36px;
    padding-bottom: 2%;
    margin-bottom: 0;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    line-height: 50%;
}

.row .ac-userinput h1.ac-code-label {
    color: white;
    font-size: 25px;
    margin-bottom: 1.7%;
}

.row .ac-userinput {
    text-align: center;
}

.ac-userinput #ac-activateBtn {
    background: #df2127;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    background: #df2127;
    padding: 9px 88px 10px 86px;
    border: solid #1f628d 0px;
    text-decoration: none;
}

.ac-userinput #ac-activateBtn:hover {
    background: #df2127;
    background-image: -webkit-linear-gradient(top, #df2127, #661317);
    background-image: -moz-linear-gradient(top, #df2127, #661317);
    background-image: -ms-linear-gradient(top, #df2127, #661317);
    background-image: -o-linear-gradient(top, #df2127, #661317);
    background-image: linear-gradient(to bottom, #df2127, #661317);
    text-decoration: none;
}

.ac-userinput #ac-resubmitBtn {
    display: block;
    margin: 1.7%;
    text-decoration: none;
    color: grey;
}

.ac-input-textbox {
    text-align: center;
    -webkit-box-sizing: ac-content-box;
    -moz-box-sizing: ac-content-box;
    box-sizing: ac-content-box;
    padding: 10px 20px 10px 25px;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/normal "Courier New", Courier, monospace;
    color: rgba(255, 255, 255, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(40, 40, 40, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#ac-contact {
    display: inline-block;
    color: #fff;
    font-size: 20px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: rgb(70, 172, 197);
    text-decoration: none;
}

.ac-user-activate {
    margin: 1.55%;
}

@media screen and (max-width:821px) {
    #top-nav ul {
        margin-right: 5px;
    }
    #top-nav a {
        margin: 5px;
        font-size: 10px;
    }
    #top-nav a#back-icon {
        margin-top: 5px;
        font-size: 12px;
    }
    #top-nav a#img-header img.resize-img {
        margin-top: 5px;
        width: 70px;
        height: 21px;
    }
    #ac-wrap {
        margin: 0% auto;
        padding: 0%;
    }
    .ac-user-activate {
        padding: 3%;
    }
    .row .ac-content h3.ac-email-desc {
        line-height: 1.25;
    }
}

@media (max-width:444px) {
    .row .ac-content .ac-email-label {
        font-size: 30px;
        padding-bottom: 2%;
        margin-bottom: 0;
        text-decoration: none;
    }
    h3 {
        font-size: 15px;
        line-height: 50%;
    }
    .row .ac-userinput h1.ac-code-label {
        color: white;
        font-size: 20px;
        margin: 9% 0 7%;
    }
    .row .ac-content {
        margin: 5%;
    }
    .ac-userinput #ac-resubmitBtn {
        margin: 6% 0 3%;
    }
    .ac-user-activate {
        margin: 3%;
    }
}

@media (min-width:445px) and (max-width:890px) {
    .row .ac-content .ac-email-label {
        font-size: 30px;
        padding-bottom: 2%;
        margin-bottom: 0;
        text-decoration: none;
    }
    h3 {
        font-size: 17px;
    }
    .row .ac-userinput h1.ac-code-label {
        font-size: 23px;
        margin: 0% 0 3%;
    }
    .row .ac-content {
        margin: 8% 2% 4%;
    }
    .ac-userinput #ac-resubmitBtn {
        margin: 4% 0 3%;
    }
    .ac-user-activate {
        margin: 2% 0 1%;
    }
    .ac-user-activate {
        margin: 1.5%;
    }
}