#device_screen{
    min-width: 320px;
}

#banner{
    margin: 0 auto;
}

.bg{
    /* The image used */
    background-image: url("bg-image.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow: none;
}

.bg_gradient{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.basicLayout{
    margin: 0;
    padding: 1%;
    width: 100%;
    /*position: absolute;
    z-index: 1;*/
}

.nf-logo{
    width: 15vw; /*was 12% */
    min-width: 100px;
    vertical-align: middle;
    padding: 5px;
    margin: 10px 0px 0px 10px;
}

.basicLayout .loginLink{
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    margin: 13px 3% 0;
    padding: 1vmin 2vmin;
    font-weight: 400;
    border-radius: 3px;
    font-size: 3vmin; /*was 16px*/
    text-decoration: none;
    border-radius: 0.5vmin;
}

.loginLink{
    margin: 0 auto;
    float: right;
}

#first_pg_content h1{
    color: #fff;
    margin: 30vh 0 0 0; /*was vmin*/
    padding: 0 0 0 5%;
    font-size: 12vmin; /*was 80px*/
    font-weight: 600;
}

#first_pg_content h2{
    color: #fff;
    margin: 4vmin 0 0 0;
    padding: 0 0 0 5%;
    font-size: 4vmin;
}

#first_pg_content .registerLink{
    display: block;
    width: 30vmin;
    margin: 5vmin 0 0 5%;
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    padding: 2vmin 3vmin; /* 1vmin 3vmin*/
    font-weight: 400;
    border-radius: 3px;
    font-size: 3vmin; /*was 16px*/
    text-decoration: none;
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: 0.5vmin;
}